$color1: #18223b;//#001e35; //#001e35
$color2: #536073;
$color3: #ffffff;
$color4: #536073;
$color5:#03070d;
div {
  color: $color1;
  width: 100%;
  border-color: $color3;
  .file-tag-folder {
//    background-color: $color3;
    display: inline-block;
    width: 100%;
    border: solid 1px;
    border-left: solid 3px;
    margin: 1px;
    margin-left: 0px;
    padding: 1px;
  }

  .file-tag-folder-hover{
    background-color: $color1;
    color: $color3;
    border-color: $color3;
    border-style: groove;
    border-width: 2px;
    //border-bottom-width: 0px;
    padding: 4px;
  }

  .file-tag-folder-selected,
  .file-tag-folder-hover-selected,
  .file-tag-file-selected,
  .file-tag-file-hover-selected{
    background-color: $color1;
    color: $color3;
    border-style: dashed;
    border-width: 2px;
  }

  .file-tag-file {
//    background-color: $color3;
    display: inline-block;
    width: 100%;
    border-bottom: solid 1px;
    border-right: solid 1px;
    border-left: solid 5px;
    margin: 1px;
    padding: 0px;
    padding-top: 5px;
  }

  .file-tag-folder:hover {
    background-color: $color1;
    color: $color3;
  }

  .file-tag-file:hover {
    background-color: $color1;
    color: $color3;
  }

  .file-tag-folder-children {
    padding-left: 8px;
    border-left: solid 1px $color2;
  }
  .file-tag-icon {
    padding-left: 5px;
    padding-top: 10px;
  }
  .file-tag-path {
    padding-left: 5px;
  }
  .file-tag-name {
    padding-left: 5px;
  }

}
