$color1: #001e35; //#001e35
$color2: #536073;
$color3: #ffffff;
$color4: #536073;
$color5: #03070d;

html,
body {
  overflow-x:hidden;
  margin: 0;
  padding: 0;
  height: 100%;
  color: white;
  background-color: #18223b05;
}
/* /END RESET */
body {
  font-family: serif;
  font-weight: 500;
  font-size: 17px;
}
