$color1: #001e35; //#001e35
$color2: #536073;
$color3: #ffffff;
$color4: #536073;
$color5:#03070d;

.menu{
	//margin: 15px;
	display: inline-grid;
	width: 10%;
	align-content: center;
	padding: 5px;
	margin-bottom: 20px;
	margin-top: 20px;
}

.menu:hover{
	//margin: 15px;
	background-color: $color1;
	color: $color3;
	border-width:2px ;
	border-style: outset;
}

.menu-icon {
    //padding: 10px;
	font-weight: 20px;
	display: block;
	margin-left: auto;
	margin-right: auto;
  }
  .menu-title {
    //padding-right: 10px;
	font-weight: 20px;
	margin-left: auto;
	margin-right: auto;
  }

.menu-s{
	display: inline-grid;
	width: 50%;
}

  .menu-search {
    //padding-right: 10px;
	font-weight: 20px;
	margin-left: 20px;
	border-width: 3px;
	border-style: solid;
	border-radius:5px ;
	border-color: $color5;
	width: 100%;
  }




em {
	font-style: italic;
}

strong {
	font-weight: bold;
}

html,
body {
	margin:0;
	padding:0;
	height:100%;
	color: white;

}
/* /END RESET */
body {
	font-family:  serif;
	font-weight: 500;
	font-size: 17px;
}

p {
	line-height: 150%;
	margin: 0 0 10px;
}

h1, h2, h3, h4, h5, h6 {
	color: #2E4A74;
	font-family: Arial, Helvetica, sans-serif;
}

h1 {
	font-size: 20px;
	margin: 0 0 15px;
	font-weight: normal;
}

h2 {
	font-size: 18px;
	margin: 0 0 12px;
	font-weight: normal;
}

h3 {
	font-size: 15px;
	margin: 0 0 12px;
	font-weight: normal;
}


h4, h5, h6 {
	margin: 5px 0 5px;
	font-weight: bold;
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {}

a img {
	border: none;
	outline: none;
}

a {
	color: #363636;
	outline: none;
	text-decoration: none;
}

a:hover {
	color: #999;
}

/* remove dotted lines on some links in FF browser */

a,
a:active,
a:visited,
a img {
	outline: none;
}

/* / */
	
/* CLEARFIX */
.clearfix:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}
 
.clearfix {
	display: inline-block;
}
 
html[xmlns] .clearfix {
	display: block;
}
 
* html .clearfix {
	height: 1%;
}
/* /END CLEARFIX */

/* 
=====================================================
	Layout & Framework
===================================================== */



/* 
=====================================================
	Dynamic Displays
===================================================== */